<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScrollToZoom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E28CD1841C8E487900661D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E28CD19D1C8E487900661D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E28CD1A81C8E487900661D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
